<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--Log4Net configuration-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
	
	<!--Log4Net-->
	<log4net>
		<appender name="UPSAssignment" type="log4net.Appender.RollingFileAppender" >
			<file value="log.txt" />
			<encoding value="utf-8" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="UPSAssignment" />
		</root>
	</log4net>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	
	<!--App Settings-->
	<appSettings>
		<add key="apiToken" value="fa114107311259f5f33e70a5d85de34a2499b4401da069af0b1d835cd5ec0d56"/>
	</appSettings>
</configuration>